.Back-btn {
  background: none;
  border: none;
  color: #5e1515;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
 .Report-back-icon {
  margin-right: 8px;
  font-size: 24px;  
  transition: transform 0.3s ease;  
}
 .report-container {
  padding: 30px;
  max-width: 1200px;
  margin: 30px auto;
   border-radius: 10px;
 }

 .report-table {
  width: 100%;
  border-collapse: collapse;
   border-radius: 8px;
   width: 100%;
  background-color: #f9f9f9;  
 }
 .report-table tr:nth-child(even) {
  background-color: #ffffff;
}

 .report-table tr:nth-child(odd) {
  background-color: #ffffff;
}


.report-table th,
.report-table td {
  padding: 16px;
  text-align: left;
  padding: 16px;
  text-align: left;
  border: 1px solid #d4dfc6;  
 }

.report-table th {
  background-color: #c9d4ba;  
  color: #000000;  
  font-weight: 700;
  font-size: 15px;
   text-align: center;
 }

.report-table td {
  font-size: 15px;
  font-weight: bolder;
  color: #151835;  
}

 .value-list,
.notificationReportPage-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.value-list li,
.notificationReportPage-list li {
  background: #ededed; /* Light neutral background for each item */
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 6px;
}
 

 

.value-list li {
  color: #224e8d; /* Earthy green for added values */
}

.notificationReportPage-list li {
  color: #9c1c1c;  
}

.value-list li strong,
.notificationReportPage-list li strong {
  display: block;
  margin-bottom: 8px;
  color: #000000;  
  font-weight: 700;  
}

 .status-badge {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 13px;
   text-transform: capitalize;
  background-color: #e3f2fd;  
  color: #38628e; 
  font-weight: bolder;
}

.status-badge.blocked {
  background-color: #f8d7da; 
  color: #d32f2f; 
  
}

 .block-button {
  padding: 10px 20px;
  background-color: #9c1c1c;  
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  margin-top: 12px;
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;  
}


.block-button:hover {
  background-color: #7b1f1f; /* Darker red on hover */
}

  

 h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #141d2f;
  font-weight: 700;
  text-align: center;
 }

 .no-data {
  text-align: center;
  padding: 50px;
  color: #718096;  
  font-style: italic;
  font-size: 18px;
}

.ReportPageButton,button {
  padding: 12px 24px;  
  background-color: #388e3c;  
  color: white;
  border: none;
  border-radius: 8px;  
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;  
  font-size: 16px;  
  font-weight: 600;  
}

 


 
 
 @media (max-width: 768px) {
  .report-table {
    font-size: 12px;
  }

  .report-table th,
  .report-table td {
    padding: 12px;
  }

  .Back-btn {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .block-button {
    padding: 8px 16px;
  }
}
