html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003f5c;
  color: white;
  padding: 15px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.5rem;
}

.nav-menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.nav-menu a:hover {
  border-bottom: 2px solid white;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menu-dropdown {
  border-radius: 2px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.menu-dropdown p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.menu-dropdown p:hover {
  background-color: #f4f4f4;
}

.sign-out {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}


@media (min-width: 1440px) and (max-width: 2559px) {
  .logo-title {
    font-size: 1.3rem; /* Adjust title font size for medium screens */
  }

  .nav-menu a {
    font-size: 1.2rem; /* Slightly larger links */
  }
}

/* Responsive styles for ultra-wide screens (2560px and up) */
@media (min-width: 2560px) {
  .logo-title {
    font-size: 2rem; /* Larger font size for ultra-wide screens */
  }

  .nav-menu a {
    font-size: 1.5rem; /* Larger link size */
  }

  .logo-img {
    width: 80px; /* Larger logo for ultra-wide screens */
  }
}