/* Homepage layout */
.homepage {
  overflow-x: hidden;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
}

/* Styles for the main content area */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-top: 40px;
  position: relative;
}

/* Map image style */

.map-photo {
  display: block;
  margin: 0 auto;
  height: auto;
  padding: 20px 0;
  width: 80%;
  max-width: 1000px;
  height: auto;
}

/* Text styling for welcoming message */
.welcome-text {
  font-size: 2.2rem;
  font-weight: bold;
  color: #10A37F;
}

/* Description text styling */
.description-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

/* "Learn More" Button styling  */

.learn-more-btn {
  margin: 0.5rem;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  background: linear-gradient(135deg, #853c69 0%, #722F57 100%);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(16, 163, 127, 0.2);
  align-items: center;
  width: 150px;
}

.learn-more-btn:hover {
  background-color: #ab5387 ;
  box-shadow: 0 4px 8px rgba(63, 126,  166,  0.4);
}

/* Map logo styling */
.map-logo {
  height: 300px;
  width: auto;
  border-radius: 8px;
  margin-left: 20px;
}

/* Layout for domain cards container */
.domains-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 40px 0;
  flex-wrap: wrap;
}

/* Styling for domain cards */

.domain-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(14, 82, 142, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  height: 240px;
  padding-right: 10px;
  font-size: 1rem;
  color: #5a5a5a;
}

.domain-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(14, 82, 142, 0.2);
}

/* Domain card title styling */
.domain-card h3 {
  color:#722F57 ;
  font-size: 1.5rem;
  margin: 10px 0;
}

.domain-card h5 {
  font-size: 18px;
  color: #474646;
}

/* Layout for dashboard */

.dashboard {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 100px 0;
  background-color: #fff;
}

p {
  font-size: 16px;
  color: #474646;
  font-weight: bold;
}

/* Charts Styling */

.chart:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(14, 82, 142, 0.2);
}

.charts {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.chart {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  text-align: center;
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.doughnut-container,
.bar-container,
.chart canvas {
  width: 250px !important;
  height: 240px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart h3 {
  font-size: 1.5rem;
  color: #10A37F ;
  text-align: center;
  margin-top: 20px;
}

/* Responsive layout  */

@media (max-width: 768px) {
  .charts {
    flex-direction: column;
    gap: 30px;
  }
  .chart {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

/* Animation for rotating map logo */
@media (prefers-reduced-motion: no-preference) {
  .map-logo {
    animation: rotateLogo infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .map-logo {
    animation: rotateLogo infinite 20s linear;
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  color: #10A37F;
}
