
.Compare-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #fff;
    width: 530px !important;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgb(76 104 136);
    padding-bottom: 30px; 
}



.Compare-text {
    color: #072040;
    text-align: center;
    margin-top: 5px; 
    font-size: 28px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Compare-inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Compare-label {
    font-size: 20px; 
    color: #072040;
    font-weight: 500;
    margin-right: 10px; 
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Compare-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 480px;
    height: 80px;
    border-radius: 6px;
    padding: 10px;
}

.Compare-cultureRegion, .Compare-topic {
    width: 250px;
    height: 30px;
    padding: 5px;
    background-color: #efefef; 
    border-radius: 5px; 
    font-size: 16px; 
    color: #333; 
    transition: background-color 0.3s ease; 
}


.Compare-cultureRegion.error, .Compare-topic.error {
    border: 2px solid red; 
    color: red; 
}

.Compare-cultureRegion:focus, .Compare-topic:focus {
    background-color: #e0e0e0; 
    outline: none; 
}


.Compare-cultureRegion option, .Compare-topic option {
    text-align: center;
}

.Compare-submit-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Compare-submit button {
    background-color: #6084a9;
    width: 300px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.Compare-submit button:hover {
    background-color: #2a5d77;
}

.footer {
    background-color: #6084a9;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px
}
