.Evaluationpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6084a9; 
  color: white;
  padding: 15px 20px;
  border-bottom-left-radius: 15px; 
border-bottom-right-radius: 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-title {
  font-size: 24px;
  font-weight: bold;
}

.nav-menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.nav-menu a:hover {
  border-bottom: 2px solid white;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu-dropdown p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.menu-dropdown p:hover {
  background-color: #f4f4f4;
}

.sign-out {
  color: red;
  font-weight: bold;
}

.footer {
  background-color: #6084a9; 
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.evalcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;
  width: 600px !important;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px rgb(76 104 136);
}

.evalheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.eval-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #072040;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.evalinputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.evalinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 480px;
  height: 80px;
  border-radius: 6px;
  padding: 10px;
}

.evalinput label {
  font-size: 20px;
  color: #072040;
  font-weight: 500;
  margin-right: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.evalinput select {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  background-color: #efefef;
}

.evalinput select option {
  text-align: center;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
}

.evalsubmit button {
  width: 300px;
  height: 40px;
  color: #fff;
  background-color: #6084a9;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.evalsubmit button:hover {
  background: #2a5d77;
}

.error{
border: 2px solid red;
color: red;
}