.viewpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  main {
    flex-grow: 1; 
  }
section{
border: 1px solid rgb(159, 155, 155);

border-radius: 3px;

}

#btn-editvalue{
    background-color: rgb(178, 61, 61);
    color: aliceblue;
    border-radius: 24px;
  
}



