/* Styles for the forgot password page container */
.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e8eb 100%);
  padding: 1rem;
}

/* Styles for the forgot password container */
.forgot-password-container {
  display: flex;
  align-items: stretch;
  width: 850px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the forgot password form */
.forgot-password-form {
  padding: 2rem;
  flex: 1;
  background-color: #f7f8f8;
}

/* Styles for the forgot password title */
.forgot-password-title {
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Styles for the forgot password label */
.forgot-password-label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 0.5rem;
  display: block;
}

/* Styles for the forgot password input */
.forgot-password-input {
  width: 100%;
  height: 50px;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  font-size: 14px;
  box-sizing: border-box;
}

/* Styles for the forgot password input on focus */
.forgot-password-input:focus {
  border-color:#853c69;
  outline: none;
}

/* Styles for the forgot password button */
.forgot-password-btn {
  width: 100%;
  padding: 0.75rem;
  background:linear-gradient(135deg, #853c69 0%, #722F57 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

/* Styles for the forgot password button on hover */
.forgot-password-btn:hover {
  background: linear-gradient(135deg, #722F57 0%, #66244c 100%);
}

/* Styles for the left section of the forgot password container */
.forgot-password-left-section {
  flex: 1;
  background: #095c474f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Styles for the logo and welcome container in the left section */
.forgot-password-logo-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the image in the logo and welcome container */
.forgot-password-logo-welcome-container img {
  margin-bottom: 1rem;
}

/* Styles for the heading in the logo and welcome container */
.forgot-password-logo-welcome-container h2 {
  font-size: 32px;
  margin: 0;
}

/* Styles for the welcome text in the left section */
.forgot-password-welcome-txt {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  line-height: 1.5;
}

/* Styles for the login link container */
.forgot-login {
  margin-top: 1rem;
  text-align: center;
}

/* Styles for the login link */
.forgot-link {
  color:#A44580;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
}

/* Styles for the login link on hover */
.forgot-link:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Styles for the forgot password container on smaller screens */
  .forgot-password-container {
    flex-direction: column;
    width: 100%;
  }

  /* Hide the left section on smaller screens */
  .forgot-password-left-section {
    display: none;
  }

  /* Adjust padding for the forgot password form on smaller screens */
  .forgot-password-form {
    padding: 1.5rem;
  }
}