/* flip container style */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 260px;
  perspective: 1000px; 
  border-radius: 12px;
  cursor: pointer;
  margin: 15px; 
}




.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

/* Flip card Effect */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); 
}

/* style for front and back sides */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

/* fron style */
.flip-card-front {
 
  background: linear-gradient(135deg, #853c69 0%, #722F57 100%);
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Front side  topic title  */
.flip-card-front h1 {
  font-size: 2rem !important;  /* Force the change */
  font-weight: bold;
}


/* Back side style */
.flip-card-back {
  background-color: #f8f9fa;
  color: #333;
  transform: rotateY(180deg);
  font-size: 0.95rem;
  line-height: 1.6;
}


.flip-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}


/* topic icon style */

.flip-card-front .icon {
  font-size: 50px;
  margin: 10px 0;
  color: #f0f8ff;
}
