.footer {
  background: rgba(255, 255, 255, 0.95);
  color:  #095c47;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  width: 100%;
  margin-top: auto;
 }
.footer-icons {
  margin-bottom: 10px;
}

.footer-icon {
  margin: 0 15px;
  color:  #095c47;
  font-size: 1.5rem;
  transition: color 0.3s;
  margin-top: 15px;
}

.footer-icon:hover {
  color: #052336;
}

.footer p {
  font-size: 1rem;
  margin: 0;
  color:  #095c47;

}
